@{
    ViewData["Title"] = "Welcome to Pa-Note WebApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pa-Note WebApp</h1>
    <p>Your personal note-taking application.</p>
    <p>
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-outline-success">Register</a>
    </p>
</div>
